@import "tailwindcss";

/* nav section */

.nav-logo{
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 150px;
}
.nav-menu{
    margin-left: 1000px;
    justify-content: center;
    align-items: center;
}
.button-nav{
    margin-top: 50px;
    margin-right: 40px;
    
}

/* ALWAYS FRESH FLOWER */

.always-all{
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.pass-head-color{
    width: 45%;
}
.always-heading{
    font-weight: 600;
    font-size: 65px;
}
.heading-color{
    color: #E95A08;
    font-size: 65px;
    font-weight: 600;
}
.always-passage{
    font-size: 22px;
}

/* Our Plants */

.our-plants-all{
    margin-top: 30px;
    margin-bottom: 80px;
}
.our-plants-2{
    text-align: center;
}

.all-card{
    width: 1140px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 390px;
    text-align: center;
    margin-top: 49px;
}
.always-passage2{
    font-size: 22px;
}
.card-heading{
    font-size: 22px;
}
.card-btn{
    background-color: #E95A08;
    color: white;
    padding-left: 85px;
    padding-right: 85px;
    margin-right: 12px;
}


/* Flower & Plants Lover */

.all-flower{
    margin-left: 390px;
    margin-bottom: 80px;
    gap: 100px;
    
}
.badge{
    position: absolute;
    margin-left: 430px;
    margin-top: -120px;
}
.flower-heading{
    font-size: 50px;
    font-weight: bold;
    width: 50%;
}

.golla{
    font-weight: bold;
    font-size: 30px;
}
.flower-pass{
    width: 57%;
    font-size: 22px;
}







@media screen and (max-width:576px) {
    
    /* nav section */

    .nav-logo{
        margin-left: 10px;
        margin-right: 10px;
        width: 20%;
    }
    .nav-menu{
    margin-left: 20px;
    }
    .button-nav{
    display: none;
    }
    .nav-menu img{
        margin-left: 100px;
    }

   
    /* ALWAYS FRESH FLOWER */
    .always-all{
    margin-top: 28px;
    flex-direction: column-reverse;
    }
    .always-img{
        width: 100%;
    }
    .always-heading{
        font-weight: 300;
        font-size: 25px;
    }
    .always-passage{
        font-size: 15px;
    }
    .pass-head-color{
        width: 90%;
        height: 50%;
        margin-top: 20px;
    }
    .heading-color{
        font-size: 25px;
        font-weight: 600;
    }

    /* Our Plants */

    .all-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width:100%;
        margin-left: 5px;
        margin-top: 49px;
        gap: 5px;
        margin-bottom: 50px;
    }
    .our-plants-2{
        width: 100%;
    }
    .card-btn{
        width: 100%;
        padding-left: 35px;
        padding-right: 40px;
    }

    /* Flower & Plants Lover */

    .all-flower{
        flex-direction: column;
        margin-left: 2px;
        margin-top: 500px;
        width: 100%;
    }
    .badge{
        display: none;
    }
    .flower-heading{
        font-size: 35px;
        width: 90%;
    }
    .flower-pass{
        width: 85%;
        font-size: 22px;
        margin-left: 30px;
    }



}